

.TopLayer{
  background-color: rgb(23, 27, 36);
  margin: 0; 
}

.App {
  text-align: center;
  padding: 12px 500px;
  font-family:'SF Mono', monospace;
  font-size: 32px;
  justify-content: center;
}

.buttonLayer{
  display: flex;
  text-align: center;
  justify-content: center;
}

.welcome-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 10pt;
  padding-top: 100pt;
}


.selButton{
  background-color: rgb(15, 3, 59);
  color: white;
  border: ridge;
  padding: 1px 12px;
  font-size: 16px;
}

.Header{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
}

.submitButton{
  background-color:rgb(15, 3, 59);
  border: ridge;
  border-color: white;
  color: white;
  padding: 0px 12px;
  display: inline-block;
  font-size: 16px;
}

.tableMove {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width:48%;
  margin-left: auto;
  margin-right: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 18px;
  color: white;
}

th {
  background-color: rgb(15, 3, 59);
  text-align: center;
}

td {
  background-color: rgb(15, 3, 59);
}

td1{
  color: rgb(6, 240, 6);
}

td2{
  color: red;
}


