.TopLayer{
  background-color: rgb(41, 37, 28);
}

.App {
  text-align: center;
  padding: 12px 256px;
  font-family: fantasy;
  font-size: 32px;
}

.selButton{
  background-color: rgb(15, 3, 59);
  color: white;
  font-family: fantasy;
}

.Header{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
}

.button{
  background-color:rgb(15, 3, 59);
  border: none;
  color: white;
  padding: 10px 16px;
  display: inline-block;
  font-size: 16px;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width:45%;
  margin-left: auto;
  margin-right: auto;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 18px;
  color: white;
}

th {
  background-color: rgb(15, 3, 59);
  text-align: center;
}

td {
  background-color: rgb(15, 3, 59);
}


