.TopLayer{
  background-color: rgb(41, 37, 28);
}

.App {
  text-align: center;
  padding: 12px 500px;
  font-family:'SF Mono', monospace;
  font-size: 32px;
  justify-content: center;
}

.buttonLayer{
  display: flex;
  text-align: center;
  justify-content: center;
}

.selButton{
  background-color: rgb(15, 3, 59);
  color: white;
  border: ridge;
  padding: 1px 12px;
  font-size: 16px;
}

.Header{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
}

.submitButton{
  background-color:rgb(15, 3, 59);
  border: ridge;
  border-color: white;
  color: white;
  padding: 0px 12px;
  display: inline-block;
  font-size: 16px;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width:48%;
  margin-left: auto;
  margin-right: auto;
  font-family:'SF Mono', monospace;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 18px;
  color: white;
}

th {
  background-color: rgb(15, 3, 59);
  text-align: center;
}

td {
  background-color: rgb(15, 3, 59);
}


